.footer {
    min-height: 100vh;
    background-image: url("../assets/infinite-loop-03.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: $base-font-family;
    font-weight: 100;

    &__container {
        @include container;
        padding: $margin-t-b $margin-r-l $lower-margin-t-b $margin-r-l;
    }

    &__header {
        font-size: $base-font-size * 2;
        text-align: center;
    }

    &__header-paragraph {
        font-size: $base-font-size * 0.95;
        text-align: center;
        padding: $the-lowest-margin-t-b 0;
        line-height: $base-font-size * 2;
    }

    &__from-container {
        padding-top: $lower-margin-t-b;

        .form {
            font-size: $base-font-size;
            &__input {
                width: 100%;
                color: white;
                padding: $base-margin $base-margin * 1.5;
                background: transparent;
                border: 1px solid white;
                border-radius: 6px;
                margin-bottom: $the-lowest-margin-t-b;

                &::placeholder {
                    color: white;
                    font-weight: 100;
                }
            }
            &__submit {
                width: 50%;
                background-color: $base-blue-color;
                border: none;
                border-radius: 4px;
                color: white;
                padding: $base-margin $margin-r-l * 2;
                margin: $the-lowest-margin-t-b 0;

                &:hover {
                    background-color: lighten($base-blue-color, 5%);
                }
            }
        }
    }

    &__contact {
        font-size: $base-font-size;
        margin-bottom: $lower-margin-t-b;

        .contact__item {
            display: flex;
            margin: $lower-margin-t-b 0;
            cursor: pointer;
            @include subtelHov;

            &-icon {
                text-align: center;
                width: 75px;
                font-size: $base-font-size * 2;
            }

            &-text {
                line-height: $base-font-size + $the-lowest-margin-t-b;
            }

            &:hover {
                color: $base-blue-color;
            }
        }
    }

    &__copyright {
        text-align: center;
        line-height: $base-font-size * 1.5;
    }

    @include mq(large) {
        &__container {
            padding: $margin-t-b $wide-screen-margin-r-l $the-lowest-margin-t-b $wide-screen-margin-r-l;
            display: flex;
            flex-flow: row wrap;
        }

        & > * {
            flex: 1 100%;
        }

        &__from-container {
            flex: 1 55%;
            margin-bottom: $lower-margin-t-b;
            padding: $the-lowest-margin-t-b $margin-r-l;
            @include mq(xlarge) {
                flex-basis: 60%;
                padding: $lower-margin-t-b $wide-screen-margin-r-l;
            }
        }

        &__contact {
            flex: 1 45%;
            padding: 0 $margin-r-l;
            @include mq(xlarge) {
                flex-basis: 40%;
                padding: $the-lowest-margin-t-b $wide-screen-margin-r-l;
            }
        }
    }
}
