.footer {
    min-height: 100vh;
    background-image: url("../assets/infinite-loop-03.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: $margin-t-b $margin-r-l $lower-margin-t-b $margin-r-l;
    color: white;
    font-family: $base-font-family;
    font-weight: 100;

    @include mq(large) {
        padding: $margin-t-b $wide-screen-margin-r-l $the-lowest-margin-t-b $wide-screen-margin-r-l;
    }

    &__header {
        font-size: $base-font-size * 2;
        text-align: center;
    }

    &__header-paragraph {
        font-size: $base-font-size * 0.95;
        text-align: center;
        padding: $the-lowest-margin-t-b 0;
        line-height: $base-font-size * 2;
    }

    &__from-container {
        padding-top: $lower-margin-t-b;

        .form {
            font-size: $base-font-size;
            &__input {
                width: 100%;
                color: white;
                padding: $base-margin $base-margin * 1.5;
                background: transparent;
                border: 1px solid white;
                border-radius: 6px;
                margin-bottom: $the-lowest-margin-t-b;

                &::placeholder {
                    color: white;
                    font-weight: 100;
                }
            }
            &__submit {
                background-color: $base-blue-color;
                border: none;
                border-radius: 4px;
                color: white;
                padding: $base-margin $margin-r-l * 2;
                margin: $the-lowest-margin-t-b 0;
            }
        }
    }

    &__contact {
        font-size: $base-font-size;
        margin-bottom: $lower-margin-t-b;

        .contact__item {
            display: flex;
            margin: $lower-margin-t-b 0;

            &-icon {
                text-align: center;
                width: 75px;
                font-size: $base-font-size * 2;
            }

            &-text {
                line-height: $base-font-size + $the-lowest-margin-t-b;
            }
        }
    }

    &__copyright {
        text-align: center;
        line-height: $base-font-size * 1.5;
    }
}
