.main {
    position: relative;
    max-width: $page-max-width;
    margin: 0 auto;
    font-family: $base-font-family;

    &__article {
        min-height: 100vh;
        padding: $margin-t-b $margin-r-l;

        @include mq(large) {
            padding: $base-margin $margin-r-l * 2;
        }

        .article-header {
            &__title {
                @include articleHeader;
            }

            &__paragraph {
                @include articleParagraph;
            }
        }
    }

    .article-about {
        .article-header {
            &__title {
                text-align: left;
            }
        }
        .section {
            display: flex;
            flex-direction: column;

            &__icon {
                font-size: $base-font-size * 3;
                color: $base-blue-color;
                align-self: center;
                padding: $base-margin * 3;
            }

            &__header {
                @include articleHeader;
                font-size: $base-font-size * 1.5;
            }

            &__paragraph {
                @include articleParagraph;
            }

            &__button {
                border: none;
                width: 150px;
                height: 50px;
                font-size: $base-font-size;
                color: white;
                background-color: darken($base-blue-color, 5%);
                margin: $base-margin * 3 0;
            }
        }

        @include mq(xlarge) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .section {
                width: 45%;

                &:first-child {
                    width: 100%;
                }
            }
        }
    }

    .article-reference {
        // position: relative;
        background-attachment: fixed;
        background-position: center;
        background-size: auto;
        background-image: url("../assets/infinite-loop-02-mobile.jpg");
        width: 100%;

        @include mq(xlarge) {
            background-image: url("../assets/infinite-loop-02.jpg");
        }

        &--active {
            &::before {
                @include transparetnCurtain;
                top: 65px;
                left: 0;
            }

            &::after {
                @include transparetnCurtain;
                height: 100px;
                bottom: 0;
                left: 0;
            }
        }

        .article-header {
            margin-top: $margin-t-b / 2;
            margin-bottom: $margin-t-b;

            &__title {
                @include articleHeader;
                color: white;
            }
            &__paragraph {
                color: white;
                font-size: $base-font-size * 0.75;
                line-height: $base-font-size * 1.5;
            }
        }

        .section__wrapper {
            display: flex;
            flex-direction: row;
            overflow: hidden;
        }

        .section {
            width: 100%;
            flex-shrink: 0;
            color: white;
            text-align: center;
            margin-bottom: $margin-t-b / 2;

            &__image {
                margin-bottom: $margin-t-b / 2;

                img {
                    border-radius: 50%;
                }
            }

            &__paragraph {
                margin-bottom: $margin-t-b / 4;
                font-size: $base-font-size * 0.85;
                line-height: $base-font-size * 1.5;
                text-align: left;
                padding: 0 $margin-r-l / 4;
            }

            &__signature {
                display: block;
                font-size: $base-font-size * 0.9;
                font-style: italic;
                text-align: right;
            }
        }
    }

    .article-gallery {
        text-align: center;

        .article-header {
            &__paragraph {
                font-size: $base-font-size * 0.75;
                line-height: $base-font-size * 1.5;
                color: lighten($base-font-color, 10%);
                margin-bottom: $base-margin * 7.5;
            }
        }

        .section {
            &__image-wrapper {
                margin-bottom: $base-margin * 1.5;
            }
        }
    }

    .slider-nav {
        .slider-nav__list {
            text-align: center;

            &-circle {
                display: inline-block;
                width: $base-font-size * 0.75;
                height: $base-font-size * 0.75;
                border-radius: 50%;
                margin: $base-margin * 0.75;
                background-color: rgba(150, 150, 150, 0.7);

                &--active {
                    background-color: rgba(220, 220, 220, 1);
                }
            }
        }
    }
}
