.main {
    font-family: $base-font-family;

    .slider-nav {
        .slider-nav__list {
            text-align: center;

            &-circle {
                display: inline-block;
                width: $base-font-size * 0.75;
                height: $base-font-size * 0.75;
                border-radius: 50%;
                margin: $base-margin * 0.75;
                background-color: rgba(150, 150, 150, 0.7);
            }
        }
    }

    &__section {
        position: relative;
        min-height: 100vh;
        padding: $base-margin * 10 $base-margin * 3;

        .article {
            &__header {
                font-size: $base-font-size * 1.5;
                font-weight: 100;
                margin-bottom: $base-margin * 3;
                color: $base-blue-color;

                &:first-child {
                    font-size: $base-font-size * 2;
                }
            }

            &__paragraph {
                font-size: $base-font-size;
                font-weight: 100;
                line-height: $base-margin * 4;
                color: $base-font-color;

                &--blue {
                    color: $base-blue-color;
                    text-decoration: none;
                }

                &--bolder {
                    font-weight: 700;
                }
            }
        }
    }

    .about-section {
        max-width: $page-max-width;
        margin: 0 auto;

        .article {
            display: flex;
            flex-direction: column;

            &__icon {
                font-size: $base-font-size * 3;
                color: $base-blue-color;
                align-self: center;
                padding: $base-margin * 3;
            }

            &__button {
                border: none;
                width: 150px;
                height: 50px;
                font-size: $base-font-size;
                color: white;
                background-color: darken($base-blue-color, 5%);
                margin: $base-margin * 3 0;
            }
        }

        @include mq(xlarge) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .article {
                width: 45%;

                &:first-child {
                    width: 100%;
                }
            }
        }
    }

    .reference-section {
        background-attachment: fixed;
        background-position: center;
        background-size: auto;
        background-image: url("../assets/infinite-loop-02-mobile.jpg");
        @include mq(xlarge) {
            background-image: url("../assets/infinite-loop-02.jpg");
        }

        .article {
            color: white;
            text-align: center;
            margin-bottom: $base-margin * 5;

            &__header {
                color: white;
                margin-top: $base-margin * 5;
            }

            &__paragraph-header {
                font-size: $base-font-size * 0.75;
                line-height: $base-font-size * 1.5;
            }

            &__image {
                margin-top: $base-margin * 10;
                margin-bottom: $base-margin * 5;
            }

            &__paragraph {
                margin-bottom: $base-margin * 2.5;
                font-size: $base-font-size * 0.85;
                line-height: $base-font-size * 1.5;
                text-align: left;
                padding: 0 $base-margin * 2;
                color: white;
            }

            &__signature {
                display: block;
                font-size: $base-font-size * 0.9;
                font-style: italic;
                text-align: right;
                // padding-right: $base-margin * 4;
            }
            &__image {
                img {
                    border-radius: 50%;
                }
            }
        }
    }

    .gallery-section {
        .article {
            text-align: center;

            &__paragraph {
                font-size: $base-font-size * 0.75;
                line-height: $base-font-size * 1.5;
                color: lighten($base-font-color, 10%);
                margin-bottom: $base-margin * 7.5;
            }

            &__image-wrapper {
                margin-bottom: $base-margin * 1.5;
            }
        }
    }
}
