.main {
    &__section {
        position: relative;
        min-height: 100vh;
        padding: $base-margin * 3;
    }

    .about-section {
        max-width: $page-max-width;
        margin: 5% auto;
        .article {
            display: flex;
            flex-direction: column;

            &__icon {
                font-size: $base-font-size * 3;
                color: $base-blue-color;
                align-self: center;
                padding: $base-margin * 3;
            }

            &__header {
                font-size: $base-font-size * 1.5;
                font-weight: 100;
                color: $base-blue-color;
                margin-bottom: $base-margin * 3;

                &:first-child {
                    font-size: $base-font-size * 2;
                }
            }

            &__paragraph {
                font-size: $base-font-size;
                color: $base-font-color;
                font-weight: 100;
                line-height: $base-margin * 4;

                &--blue {
                    color: $base-blue-color;
                    text-decoration: none;
                }

                &--bolder {
                    font-weight: 700;
                }
            }

            &__button {
                border: none;
                width: 150px;
                height: 50px;
                font-size: $base-font-size;
                color: white;
                background-color: darken($base-blue-color, 5%);
                margin: $base-margin * 3 0;
            }
        }

        @include mq(xlarge) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .article {
                width: 45%;

                &:first-child {
                    width: 100%;
                }
            }
        }
    }

    .reference-section {
        background-attachment: fixed;
        background-position: center;
        background-size: auto;
        background-image: url("../assets/infinite-loop-02-mobile.jpg");
        @include mq(xlarge) {
            background-image: url("../assets/infinite-loop-02.jpg");
        }

        .article {
            &__header,
            &__paragraph,
            &__signature {
                color: white;
                text-align: center;
            }

            &__header {
                margin-top: $base-margin * 5;
            }

            &__paragraph {
                margin-bottom: $base-margin * 5;
                font-size: $base-font-size * 0.75;
                line-height: $base-font-size * 1.5;
            }

            &__signature {
            }
            &__image {
                img {
                    border-radius: 50%;
                }
            }
        }
    }

    .gallery-section {
    }
}
