@mixin subtelHov {
    cursor: pointer;
    transition: 0.3s;
}

@mixin transparetnCurtain {
    content: " ";
    display: block;
    width: 100%;
    position: fixed;
    transform: translate(-50% -50%);
    background: rgba(255, 255, 255, 0.75) fixed;
}
