@mixin container {
    max-width: $page-max-width;
    margin: 0 auto;
    padding-left: $margin-r-l;
    padding-right: $margin-r-l;
    @include mq(large) {
        padding-left: $wide-screen-margin-r-l;
        padding-right: $wide-screen-margin-r-l;
    }
}

@mixin subtelHov {
    cursor: pointer;
    transition: 0.3s;
}

@mixin link {
    text-decoration: none;

    &:link,
    &:visited,
    &:active {
        color: $base-blue-color;
        @include mq(large) {
            color: white;
        }
    }

    &--active {
        &:link,
        &:visited,
        &:active {
            color: $base-blue-color;
        }
    }
}

@mixin articleHeader {
    font-size: $base-font-size * 2;
    font-weight: 100;
    margin-bottom: $margin-t-b / 4;
    color: $base-blue-color;
    text-align: center;
}

@mixin articleParagraph {
    font-size: $base-font-size;
    font-weight: 100;
    line-height: $base-margin * 4;
    color: $base-font-color;

    &--blue {
        color: $base-blue-color;
        text-decoration: none;
    }

    &--bolder {
        font-weight: 700;
    }
}

@mixin transparetnCurtain {
    content: " ";
    display: block;
    width: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.75) fixed;
}
