$page-max-width: 1200px;
$base-font-family: "Raleway", sans-serif;
$base-font-size: 20px;
$base-font-color: rgb(112, 112, 112);
$base-blue-color: #38b;
$base-background-color: rgb(112, 112, 112);
$base-margin: 10px;
